# Ignore Storybook build output
node_modules
.next
out
*.log
*.tsbuildinfo


# ? 五、注意事项
# 1. 確保已执行
#    git rm -r --cached storybook-static
#    git add .gitignore
#
# 2. 请确保已执行:
#    npx husky install
#    并确保 .husky/文件有执行权:
#    chmod +x .husky/*
#
# 3. 合并后 CI 自动构建 Storybook 并部署到 gh-pages node_modules/
node_modules/
node_modules/
*.node
